#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.top-bar {
  padding-left: 6px;
  padding-right: 6px;
  margin: 0;
}

.mode {
  margin: 0;
}

.method {
  margin: 0;
  padding-top: 4px;
}

.grid {
  padding: 6px;
  margin: 0;
  background: #ffffff;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(9px, 1fr));
  gap: 0.5px;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.node {
  outline: 0.5px solid #374151;
  transition: all 0.3s linear;
}

@media (max-width: 767px) {
  .node {
    width: 9px;
    height: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .node {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1024px) {
  .node {
    width: 24px;
    height: 24px;
  }
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    background-color: rgba(0, 0, 66, 0.75);
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes shortestPath {
  0% {
    background-color: rgb(255, 254, 106);
  }

  50% {
    background-color: rgb(255, 254, 106);
  }

  100% {
    background-color: rgb(255, 254, 106);
  }
}
